# TOP 5 STATES TO SET UP ONLINE MICROFINACE MACHINE

In [470]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [471]:
crimes = pd.read_csv("Crime.csv")

How many columns and enteries

In [472]:
crimes['Area_Name']

0       Andaman & Nicobar Islands
1                  Andhra Pradesh
2               Arunachal Pradesh
3                           Assam
4                           Bihar
                  ...
2444                   Tamil Nadu
2445                      Tripura
2446                Uttar Pradesh
2447                  Uttarakhand
2448                  West Bengal
Name: Area_Name, Length: 2449, dtype: object

In [473]:
infra= pd.read_csv("Infrastructure.csv")

In [474]:
infra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 27 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Name of the States                                36 non-null     object
 1   National Highways                                 36 non-null     int64
 2   State Highways                                    36 non-null     int64
 3   District Roads                                    36 non-null     int64
 4   Rural Roads                                       36 non-null     int64
 5   Urban roads                                       36 non-null     int64
 6   Project Roads                                     36 non-null     int64
 7   Total road Length                                 36 non-null     int64
 8   Total Area                                        36 non-null     int64
 9     Urban Road density                              35 non-null     float64
 10    Rural Road density                              35 non-null     float64
 11  Entire State Road length per 1000 sq km           36 non-null     int64
 12  Urban Road lngth per 1000 sq km                   36 non-null     float64
 13  Rural Road lngth per 1000 sq km                   36 non-null     float64
 14  Road Density                                      36 non-null     float64
 15  Road Density per 1000 Sq. Km - National Highways  36 non-null     float64
 16  Road Density per 1000 Sq. Km - State Highways     36 non-null     float64
 17  Road Density per 1000 Sq. Km - District Roads     36 non-null     int64
 18  Road Density per 1000 Sq. Km - Rural Roads        36 non-null     float64
 19  Road Density per 1000 Sq. Km - Urban roads        36 non-null     float64
 20  Road Density per 1000 Sq. Km - Project Roads      36 non-null     float64
 21  Area                                              36 non-null     int64
 22  Rural Area (2011 census)                          35 non-null     float64
 23  Urban Area (2011 census)                          35 non-null     float64
 24  Rural Pop (2011 census)                           36 non-null     int64
 25  Urban Pop (2011 census)                           36 non-null     int64
 26  Total  Population                                 36 non-null     int64
dtypes: float64(12), int64(14), object(1)
memory usage: 7.7+ KB

In [475]:
msme= pd.read_excel('MSME.xls')

In [476]:
msme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 738 entries, 0 to 737
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DISTRICT_NAME         738 non-null    object
 1   STATE                 738 non-null    object
 2   MICRO_SERVICE         738 non-null    int64
 3   SMALL_SERVICE         738 non-null    int64
 4   MEDIUM_SERVICE        738 non-null    int64
 5   MICRO_MANUFACTURING   738 non-null    int64
 6   SMALL_MANUFACTURING   738 non-null    int64
 7   MEDIUM_MANUFACTURING  738 non-null    int64
 8   TOTAL_SERVICE         738 non-null    int64
 9   TOTAL_MANUFACTURING   738 non-null    int64
dtypes: int64(8), object(2)
memory usage: 57.8+ KB

In [477]:
net= pd.read_excel('NETWORK.xlsx')

In [478]:
net.rename(columns={'States':'STATE'}, inplace= True)

4 Factors : crimes , infrastructures, micro small and medium enterprises , network availability

Crimes , Infrastructure and msme data is referred from kaggel and network availability is 
referred from www.trai.gov.in

In [479]:
crimes['Area_Name'].value_counts()

Andaman & Nicobar Islands    70
Puducherry                   70
Maharashtra                  70
Manipur                      70
Meghalaya                    70
Mizoram                      70
Nagaland                     70
Odisha                       70
Punjab                       70
Andhra Pradesh               70
Rajasthan                    70
Sikkim                       70
Tamil Nadu                   70
Tripura                      70
Uttar Pradesh                70
Uttarakhand                  70
Madhya Pradesh               70
Kerala                       70
Delhi                        70
Daman & Diu                  70
Arunachal Pradesh            70
Assam                        70
Bihar                        70
Chandigarh                   70
Chhattisgarh                 70
Dadra & Nagar Haveli         70
West Bengal                  70
Karnataka                    70
Goa                          70
Gujarat                      70
Haryana                      70
Himachal Pradesh             70
Jammu & Kashmir              70
Jharkhand                    70
Lakshadweep                  69
Name: Area_Name, dtype: int64

No of cases registered in bulgary per state

In [480]:
crimes.rename(columns={'Area_Name':'STATE'}, inplace= True)

In [481]:
crime_state =crimes.groupby('STATE').sum()

In [482]:
crimes['STATE']

0       Andaman & Nicobar Islands
1                  Andhra Pradesh
2               Arunachal Pradesh
3                           Assam
4                           Bihar
                  ...
2444                   Tamil Nadu
2445                      Tripura
2446                Uttar Pradesh
2447                  Uttarakhand
2448                  West Bengal
Name: STATE, Length: 2449, dtype: object

In [483]:
infra.rename(columns={'Name of the States':'STATE'}, inplace= True)

In [484]:
infra['STATE'].value_counts()

 Andhra Pradesh(*)      1
 Arunachal Pradesh      1
 Punjab                 1
 Rajasthan              1
 Sikkim                 1
 Tamil Nadu             1
 Tripura                1
 Uttar Pradesh          1
 Uttarakhand            1
 West Bengal            1
 A.& N.Islands          1
 Chandigarh             1
 D.& N.Haveli           1
 Daman & Diu            1
 Delhi                  1
 Lakshadweep            1
 Puducherry             1
 Odisha                 1
 Nagaland               1
 Mizoram                1
 Himachal Pradesh       1
 Assam                  1
 Bihar                  1
 Chhattisgarh           1
 Goa                    1
 Gujarat                1
 Haryana                1
 Jammu & Kashmir        1
 Meghalaya              1
 Jharkhand              1
 Karnataka              1
 Kerala                 1
 Madhya Pradesh         1
 Maharashtra            1
 Manipur                1
INDIA (1) ++            1
Name: STATE, dtype: int64

In [485]:
msme=msme.groupby('STATE').sum()
msme=msme.reset_index()
msme['STATE']

0     ANDAMAN AND NICOBAR ISLANDS
1                  ANDHRA PRADESH
2               ARUNACHAL PRADESH
3                           ASSAM
4                           BIHAR
5                      CHANDIGARH
6                    CHHATTISGARH
7          DADAR AND NAGAR HAVELI
8                   DAMAN AND DIU
9                           DELHI
10                            GOA
11                        GUJARAT
12                        HARYANA
13               HIMACHAL PRADESH
14              JAMMU AND KASHMIR
15                      JHARKHAND
16                      KARNATAKA
17                         KERALA
18                         LADAKH
19                    LAKSHADWEEP
20                 MADHYA PRADESH
21                    MAHARASHTRA
22                        MANIPUR
23                      MEGHALAYA
24                        MIZORAM
25                       NAGALAND
26                         ODISHA
27                     PUDUCHERRY
28                         PUNJAB
29                      RAJASTHAN
30                         SIKKIM
31                     TAMIL NADU
32                      TELANGANA
33                        TRIPURA
34                  UTTAR PRADESH
35                    UTTARAKHAND
36                    WEST BENGAL
Name: STATE, dtype: object

In [486]:
crime_state.head()

,Year,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
STATE,,,,,
Andaman & Nicobar Islands,140385,1516,3662,53629194,646746834
Andhra Pradesh,140385,332510,642822,8320971694,18762833176
Arunachal Pradesh,140385,6048,16632,646754238,1895885402
Assam,140385,54784,245560,1521007674,5814831574
Bihar,140385,63876,411840,1098784766,7549162134

In [487]:
crime_state=crime_state.reset_index()

In [488]:
crime_state['STATE']

0     Andaman & Nicobar Islands
1                Andhra Pradesh
2             Arunachal Pradesh
3                         Assam
4                         Bihar
5                    Chandigarh
6                  Chhattisgarh
7          Dadra & Nagar Haveli
8                   Daman & Diu
9                         Delhi
10                          Goa
11                      Gujarat
12                      Haryana
13             Himachal Pradesh
14              Jammu & Kashmir
15                    Jharkhand
16                    Karnataka
17                       Kerala
18                  Lakshadweep
19               Madhya Pradesh
20                  Maharashtra
21                      Manipur
22                    Meghalaya
23                      Mizoram
24                     Nagaland
25                       Odisha
26                   Puducherry
27                       Punjab
28                    Rajasthan
29                       Sikkim
30                   Tamil Nadu
31                      Tripura
32                Uttar Pradesh
33                  Uttarakhand
34                  West Bengal
Name: STATE, dtype: object

In [489]:

infra['STATE']

0        Andhra Pradesh(*)
1        Arunachal Pradesh
2                    Assam
3                    Bihar
4             Chhattisgarh
5                     Goa
6                  Gujarat
7                  Haryana
8         Himachal Pradesh
9          Jammu & Kashmir
10               Jharkhand
11               Karnataka
12                  Kerala
13          Madhya Pradesh
14             Maharashtra
15                Manipur
16               Meghalaya
17                 Mizoram
18                Nagaland
19                  Odisha
20                  Punjab
21               Rajasthan
22                  Sikkim
23              Tamil Nadu
24                 Tripura
25           Uttar Pradesh
26             Uttarakhand
27             West Bengal
28          A.& N.Islands
29             Chandigarh
30           D.& N.Haveli
31            Daman & Diu
32                  Delhi
33            Lakshadweep
34             Puducherry
35    INDIA (1) ++
Name: STATE, dtype: object

In [490]:
def format(state):
    if '_' in state:
        state.replace(' ','_')
        return state.upper()
    else :
        return state

In [469]:
msme['STATE'].apply(lambda x: format(x))
infra['STATE'].apply(lambda x: x.upper())
crime_state['STATE'].apply(lambda x: x.upper())

0     ANDAMAN & NICOBAR ISLANDS
1                ANDHRA PRADESH
2             ARUNACHAL PRADESH
3                         ASSAM
4                         BIHAR
5                    CHANDIGARH
6                  CHHATTISGARH
7          DADRA & NAGAR HAVELI
8                   DAMAN & DIU
9                         DELHI
10                          GOA
11                      GUJARAT
12                      HARYANA
13             HIMACHAL PRADESH
14              JAMMU & KASHMIR
15                    JHARKHAND
16                    KARNATAKA
17                       KERALA
18                  LAKSHADWEEP
19               MADHYA PRADESH
20                  MAHARASHTRA
21                      MANIPUR
22                    MEGHALAYA
23                      MIZORAM
24                     NAGALAND
25                       ODISHA
26                   PUDUCHERRY
27                       PUNJAB
28                    RAJASTHAN
29                       SIKKIM
30                   TAMIL NADU
31                      TRIPURA
32                UTTAR PRADESH
33                  UTTARAKHAND
34                  WEST BENGAL
Name: STATE, dtype: object