# TOP 5 STATES TO SET UP ONLINE MICROFINACE MACHINE

In [76]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [77]:
crimes = pd.read_csv("Crime.csv")

How many columns and enteries

In [78]:
crimes['Area_Name']

0       Andaman & Nicobar Islands
1                  Andhra Pradesh
2               Arunachal Pradesh
3                           Assam
4                           Bihar
                  ...
2444                   Tamil Nadu
2445                      Tripura
2446                Uttar Pradesh
2447                  Uttarakhand
2448                  West Bengal
Name: Area_Name, Length: 2449, dtype: object

In [79]:
infra= pd.read_csv("Infrastructure.csv")

In [80]:
infra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 27 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Name of the States                                36 non-null     object
 1   National Highways                                 36 non-null     int64
 2   State Highways                                    36 non-null     int64
 3   District Roads                                    36 non-null     int64
 4   Rural Roads                                       36 non-null     int64
 5   Urban roads                                       36 non-null     int64
 6   Project Roads                                     36 non-null     int64
 7   Total road Length                                 36 non-null     int64
 8   Total Area                                        36 non-null     int64
 9     Urban Road density                              35 non-null     float64
 10    Rural Road density                              35 non-null     float64
 11  Entire State Road length per 1000 sq km           36 non-null     int64
 12  Urban Road lngth per 1000 sq km                   36 non-null     float64
 13  Rural Road lngth per 1000 sq km                   36 non-null     float64
 14  Road Density                                      36 non-null     float64
 15  Road Density per 1000 Sq. Km - National Highways  36 non-null     float64
 16  Road Density per 1000 Sq. Km - State Highways     36 non-null     float64
 17  Road Density per 1000 Sq. Km - District Roads     36 non-null     int64
 18  Road Density per 1000 Sq. Km - Rural Roads        36 non-null     float64
 19  Road Density per 1000 Sq. Km - Urban roads        36 non-null     float64
 20  Road Density per 1000 Sq. Km - Project Roads      36 non-null     float64
 21  Area                                              36 non-null     int64
 22  Rural Area (2011 census)                          35 non-null     float64
 23  Urban Area (2011 census)                          35 non-null     float64
 24  Rural Pop (2011 census)                           36 non-null     int64
 25  Urban Pop (2011 census)                           36 non-null     int64
 26  Total  Population                                 36 non-null     int64
dtypes: float64(12), int64(14), object(1)
memory usage: 7.7+ KB

In [81]:
msme= pd.read_excel('MSME.xls')

In [82]:
msme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 738 entries, 0 to 737
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DISTRICT_NAME         738 non-null    object
 1   STATE                 738 non-null    object
 2   MICRO_SERVICE         738 non-null    int64
 3   SMALL_SERVICE         738 non-null    int64
 4   MEDIUM_SERVICE        738 non-null    int64
 5   MICRO_MANUFACTURING   738 non-null    int64
 6   SMALL_MANUFACTURING   738 non-null    int64
 7   MEDIUM_MANUFACTURING  738 non-null    int64
 8   TOTAL_SERVICE         738 non-null    int64
 9   TOTAL_MANUFACTURING   738 non-null    int64
dtypes: int64(8), object(2)
memory usage: 57.8+ KB

In [83]:
net= pd.read_excel('NETWORK.xlsx')

In [84]:
net.rename(columns={'States':'STATE'}, inplace= True)

4 Factors : crimes , infrastructures, micro small and medium enterprises , network availability

Crimes , Infrastructure and msme data is referred from kaggel and network availability is 
referred from www.trai.gov.in

In [85]:
crimes['Area_Name'].value_counts()

Andaman & Nicobar Islands    70
Puducherry                   70
Maharashtra                  70
Manipur                      70
Meghalaya                    70
Mizoram                      70
Nagaland                     70
Odisha                       70
Punjab                       70
Andhra Pradesh               70
Rajasthan                    70
Sikkim                       70
Tamil Nadu                   70
Tripura                      70
Uttar Pradesh                70
Uttarakhand                  70
Madhya Pradesh               70
Kerala                       70
Delhi                        70
Daman & Diu                  70
Arunachal Pradesh            70
Assam                        70
Bihar                        70
Chandigarh                   70
Chhattisgarh                 70
Dadra & Nagar Haveli         70
West Bengal                  70
Karnataka                    70
Goa                          70
Gujarat                      70
Haryana                      70
Himachal Pradesh             70
Jammu & Kashmir              70
Jharkhand                    70
Lakshadweep                  69
Name: Area_Name, dtype: int64

No of cases registered in bulgary per state

In [86]:
crimes.rename(columns={'Area_Name':'STATE'}, inplace= True)

In [87]:
crime_state =crimes.groupby('STATE').sum()

In [88]:
crimes['STATE']

0       Andaman & Nicobar Islands
1                  Andhra Pradesh
2               Arunachal Pradesh
3                           Assam
4                           Bihar
                  ...
2444                   Tamil Nadu
2445                      Tripura
2446                Uttar Pradesh
2447                  Uttarakhand
2448                  West Bengal
Name: STATE, Length: 2449, dtype: object

In [89]:
infra.rename(columns={'Name of the States':'STATE'}, inplace= True)

In [90]:
infra['STATE'].value_counts()

 Andhra Pradesh(*)      1
 Arunachal Pradesh      1
 Punjab                 1
 Rajasthan              1
 Sikkim                 1
 Tamil Nadu             1
 Tripura                1
 Uttar Pradesh          1
 Uttarakhand            1
 West Bengal            1
 A.& N.Islands          1
 Chandigarh             1
 D.& N.Haveli           1
 Daman & Diu            1
 Delhi                  1
 Lakshadweep            1
 Puducherry             1
 Odisha                 1
 Nagaland               1
 Mizoram                1
 Himachal Pradesh       1
 Assam                  1
 Bihar                  1
 Chhattisgarh           1
 Goa                    1
 Gujarat                1
 Haryana                1
 Jammu & Kashmir        1
 Meghalaya              1
 Jharkhand              1
 Karnataka              1
 Kerala                 1
 Madhya Pradesh         1
 Maharashtra            1
 Manipur                1
INDIA (1) ++            1
Name: STATE, dtype: int64

In [91]:
msme=msme.groupby('STATE').sum()
msme=msme.reset_index()
msme['STATE']

0     ANDAMAN AND NICOBAR ISLANDS
1                  ANDHRA PRADESH
2               ARUNACHAL PRADESH
3                           ASSAM
4                           BIHAR
5                      CHANDIGARH
6                    CHHATTISGARH
7          DADAR AND NAGAR HAVELI
8                   DAMAN AND DIU
9                           DELHI
10                            GOA
11                        GUJARAT
12                        HARYANA
13               HIMACHAL PRADESH
14              JAMMU AND KASHMIR
15                      JHARKHAND
16                      KARNATAKA
17                         KERALA
18                         LADAKH
19                    LAKSHADWEEP
20                 MADHYA PRADESH
21                    MAHARASHTRA
22                        MANIPUR
23                      MEGHALAYA
24                        MIZORAM
25                       NAGALAND
26                         ODISHA
27                     PUDUCHERRY
28                         PUNJAB
29                      RAJASTHAN
30                         SIKKIM
31                     TAMIL NADU
32                      TELANGANA
33                        TRIPURA
34                  UTTAR PRADESH
35                    UTTARAKHAND
36                    WEST BENGAL
Name: STATE, dtype: object

In [92]:
crime_state.head()

,Year,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
STATE,,,,,
Andaman & Nicobar Islands,140385,1516,3662,53629194,646746834
Andhra Pradesh,140385,332510,642822,8320971694,18762833176
Arunachal Pradesh,140385,6048,16632,646754238,1895885402
Assam,140385,54784,245560,1521007674,5814831574
Bihar,140385,63876,411840,1098784766,7549162134

In [93]:
crime_state=crime_state.reset_index()

In [94]:
crime_state['STATE']

0     Andaman & Nicobar Islands
1                Andhra Pradesh
2             Arunachal Pradesh
3                         Assam
4                         Bihar
5                    Chandigarh
6                  Chhattisgarh
7          Dadra & Nagar Haveli
8                   Daman & Diu
9                         Delhi
10                          Goa
11                      Gujarat
12                      Haryana
13             Himachal Pradesh
14              Jammu & Kashmir
15                    Jharkhand
16                    Karnataka
17                       Kerala
18                  Lakshadweep
19               Madhya Pradesh
20                  Maharashtra
21                      Manipur
22                    Meghalaya
23                      Mizoram
24                     Nagaland
25                       Odisha
26                   Puducherry
27                       Punjab
28                    Rajasthan
29                       Sikkim
30                   Tamil Nadu
31                      Tripura
32                Uttar Pradesh
33                  Uttarakhand
34                  West Bengal
Name: STATE, dtype: object

In [95]:

crime_state

,STATE,Year,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,140385,1516,3662,53629194,646746834
1,Andhra Pradesh,140385,332510,642822,8320971694,18762833176
2,Arunachal Pradesh,140385,6048,16632,646754238,1895885402
3,Assam,140385,54784,245560,1521007674,5814831574
4,Bihar,140385,63876,411840,1098784766,7549162134
5,Chandigarh,140385,15188,39720,625548682,1674993984
6,Chhattisgarh,140385,68912,199712,1932428432,5770126842
7,Dadra & Nagar Haveli,140385,1170,2642,225144198,2007055568
8,Daman & Diu,140385,534,2056,81535334,375254250
9,Delhi,140385,157858,490694,2777898238,60706985834
10,Goa,140385,5884,19788,322047336,4081613364
11,Gujarat,140385,166644,534060,6902107076,66430799410
12,Haryana,140385,133320,303336,9005055364,15282212218
13,Himachal Pradesh,140385,9798,34000,708580140,2813012810
14,Jammu & Kashmir,140385,22718,74906,1190983796,2994343940
15,Jharkhand,140385,35368,176868,688336780,4656050214
16,Karnataka,140385,160806,494968,9012218484,29150457754
17,Kerala,140385,73066,221652,3070699020,27663292028
18,Lakshadweep,138378,101,342,1591327,9863129
19,Madhya Pradesh,140385,254106,733524,20338284748,31059072132
20,Maharashtra,140385,473186,1376814,24278687606,197405117114
21,Manipur,140385,656,11584,136829326,1431775098
22,Meghalaya,140385,3924,16724,151165908,1478483206
23,Mizoram,140385,18896,26892,345128278,861045142
24,Nagaland,140385,2666,10814,227911296,3829289010
25,Odisha,140385,104076,224280,2761739566,13003825752
26,Puducherry,140385,7274,14236,249050464,453605500
27,Punjab,140385,85530,151182,8637846488,15657927994
28,Rajasthan,140385,141114,469468,10094937386,17686460784
29,Sikkim,140385,966,3314,40014540,475664388
30,Tamil Nadu,140385,342148,431864,8731172288,14042000468
31,Tripura,140385,3326,14480,88223078,632808560
32,Uttar Pradesh,140385,171046,559970,13879052340,23856476328
33,Uttarakhand,140385,14562,41530,501626720,1635649166
34,West Bengal,140385,85776,372226,4862548814,21989317054

In [96]:
def format(state):
    if '_' in state:
        state.replace(' ','_')
        return state.upper()
    else :
        return state

for x in infra['STATE']:
    str(x)

In [97]:
msme['STATE'].apply(lambda x: format(x))
crime_state['STATE']=crime_state['STATE'].apply(lambda x: x.upper())
infra['STATE']=infra['STATE'].apply(lambda x: x.upper().replace('&','AND'))
infra['STATE'][0]='ANDHRA PRADESH'
infra['STATE'][1]='ARUNACHAL PRADESH'
crime_state['STATE']

/var/folders/dg/5g2y4nps6wq3tfhw89q9jz9h0000gn/T/ipykernel_88730/3376810250.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infra['STATE'][0]='ANDHRA PRADESH'
/var/folders/dg/5g2y4nps6wq3tfhw89q9jz9h0000gn/T/ipykernel_88730/3376810250.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infra['STATE'][1]='ARUNACHAL PRADESH'

0     ANDAMAN & NICOBAR ISLANDS
1                ANDHRA PRADESH
2             ARUNACHAL PRADESH
3                         ASSAM
4                         BIHAR
5                    CHANDIGARH
6                  CHHATTISGARH
7          DADRA & NAGAR HAVELI
8                   DAMAN & DIU
9                         DELHI
10                          GOA
11                      GUJARAT
12                      HARYANA
13             HIMACHAL PRADESH
14              JAMMU & KASHMIR
15                    JHARKHAND
16                    KARNATAKA
17                       KERALA
18                  LAKSHADWEEP
19               MADHYA PRADESH
20                  MAHARASHTRA
21                      MANIPUR
22                    MEGHALAYA
23                      MIZORAM
24                     NAGALAND
25                       ODISHA
26                   PUDUCHERRY
27                       PUNJAB
28                    RAJASTHAN
29                       SIKKIM
30                   TAMIL NADU
31                      TRIPURA
32                UTTAR PRADESH
33                  UTTARAKHAND
34                  WEST BENGAL
Name: STATE, dtype: object

In [98]:
net

                          STATE  Overall tele-Density
0                         BIHAR             18.230000
1                MADHYA PRADESH             22.600000
2                 UTTAR PRADESH             22.706667
3                         ASSAM             23.040000
4                        ODISHA             25.076667
5                       MANIPUR             25.993333
6                     RAJASTHAN             26.510000
7                   WEST BENGAL             27.513300
8             JAMMU AND KASHMIR             29.393330
9                       HARYANA             30.200000
10               ANDHRA PRADESH             31.180000
11                      GUJARAT             31.546667
12                    KARNATAKA             33.710000
13                  MAHARASHTRA             34.250000
14                   TAMIL NADU             34.336667
15                       PUNJAB             39.143333
16                       KERALA             41.146667
17             HIMACHAL PRADESH             44.470000
18                        DEHLI             89.313333
19                 CHHATTISGARH                   NaN
20            ARUNACHAL PRADESH                   NaN
21                          GOA                   NaN
22                    JHARKHAND                   NaN
23                  LAKSHADWEEP                   NaN
24                    MEGHALAYA                   NaN
25                      MIZORAM                   NaN
26                     NAGALAND                   NaN
27                       SIKKIM                   NaN
28                    TELANGANA                   NaN
29                      TRIPURA                   NaN
30                  UTTARAKHAND                   NaN
31  ANDAMAN AND NICOBAR ISLANDS                   NaN
32                   CHANDIGARH                   NaN
33       DADAR AND NAGAR HAVELI                   NaN
34                DAMAN AND DIU                   NaN
35                   PUDUCHERRY                   NaN
36                       LADAKH                   NaN

In [99]:
pd.merge(msme,infra,how='inner',on='STATE')

,STATE,MICRO_SERVICE,SMALL_SERVICE,MEDIUM_SERVICE,MICRO_MANUFACTURING,SMALL_MANUFACTURING,MEDIUM_MANUFACTURING,TOTAL_SERVICE,TOTAL_MANUFACTURING,National Highways,...,Road Density per 1000 Sq. Km - District Roads,Road Density per 1000 Sq. Km - Rural Roads,Road Density per 1000 Sq. Km - Urban roads,Road Density per 1000 Sq. Km - Project Roads,Area,Rural Area (2011 census),Urban Area (2011 census),Rural Pop (2011 census),Urban Pop (2011 census),Total Population
0,ANDHRA PRADESH,117466,5860,424,156536,10688,1032,123750,168256,10709,...,211,657.47,82.62,105.10,275045,267191.0,7855.0,56361702,28219075,84580777
1,ARUNACHAL PRADESH,1231,56,6,2217,102,11,1293,2330,2537,...,103,308.47,0.71,56.33,83743,NaN,NaN,1066358,317369,1383727

In [100]:
len(infra['STATE'][2])

6

In [101]:
infra['STATE'][2]

' ASSAM'

In [102]:
infra['STATE']

0           ANDHRA PRADESH
1        ARUNACHAL PRADESH
2                    ASSAM
3                    BIHAR
4             CHHATTISGARH
5                     GOA
6                  GUJARAT
7                  HARYANA
8         HIMACHAL PRADESH
9        JAMMU AND KASHMIR
10               JHARKHAND
11               KARNATAKA
12                  KERALA
13          MADHYA PRADESH
14             MAHARASHTRA
15                MANIPUR
16               MEGHALAYA
17                 MIZORAM
18                NAGALAND
19                  ODISHA
20                  PUNJAB
21               RAJASTHAN
22                  SIKKIM
23              TAMIL NADU
24                 TRIPURA
25           UTTAR PRADESH
26             UTTARAKHAND
27             WEST BENGAL
28        A.AND N.ISLANDS
29             CHANDIGARH
30         D.AND N.HAVELI
31          DAMAN AND DIU
32                  DELHI
33            LAKSHADWEEP
34             PUDUCHERRY
35    INDIA (1) ++
Name: STATE, dtype: object

In [103]:
infra['STATE']=infra['STATE'].apply(lambda x: x.lstrip())

In [104]:
infra['STATE']

0           ANDHRA PRADESH
1        ARUNACHAL PRADESH
2                    ASSAM
3                    BIHAR
4             CHHATTISGARH
5                     GOA
6                  GUJARAT
7                  HARYANA
8         HIMACHAL PRADESH
9        JAMMU AND KASHMIR
10               JHARKHAND
11               KARNATAKA
12                  KERALA
13          MADHYA PRADESH
14             MAHARASHTRA
15                MANIPUR
16               MEGHALAYA
17                 MIZORAM
18                NAGALAND
19                  ODISHA
20                  PUNJAB
21               RAJASTHAN
22                  SIKKIM
23              TAMIL NADU
24                 TRIPURA
25           UTTAR PRADESH
26             UTTARAKHAND
27             WEST BENGAL
28        A.AND N.ISLANDS
29             CHANDIGARH
30         D.AND N.HAVELI
31          DAMAN AND DIU
32                  DELHI
33            LAKSHADWEEP
34             PUDUCHERRY
35    INDIA (1) ++
Name: STATE, dtype: object

In [105]:
crime_state['STATE'][1]

'ANDHRA PRADESH'

In [106]:
crime_state['STATE'][3]
infra['STATE'][3]

'BIHAR'

In [107]:
Sol= pd.merge(pd.merge(pd.merge(net,crime_state,on='STATE',how='inner'),msme,on="STATE",how="inner"),infra,how='inner',on='STATE')
Sol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 24
Data columns (total 41 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   STATE                                             25 non-null     object
 1   Overall tele-Density                              16 non-null     float64
 2   Year                                              25 non-null     int64
 3   Cases_Property_Recovered                          25 non-null     int64
 4   Cases_Property_Stolen                             25 non-null     int64
 5   Value_of_Property_Recovered                       25 non-null     int64
 6   Value_of_Property_Stolen                          25 non-null     int64
 7   MICRO_SERVICE                                     25 non-null     int64
 8   SMALL_SERVICE                                     25 non-null     int64
 9   MEDIUM_SERVICE                                    25 non-null     int64
 10  MICRO_MANUFACTURING                               25 non-null     int64
 11  SMALL_MANUFACTURING                               25 non-null     int64
 12  MEDIUM_MANUFACTURING                              25 non-null     int64
 13  TOTAL_SERVICE                                     25 non-null     int64
 14  TOTAL_MANUFACTURING                               25 non-null     int64
 15  National Highways                                 25 non-null     int64
 16  State Highways                                    25 non-null     int64
 17  District Roads                                    25 non-null     int64
 18  Rural Roads                                       25 non-null     int64
 19  Urban roads                                       25 non-null     int64
 20  Project Roads                                     25 non-null     int64
 21  Total road Length                                 25 non-null     int64
 22  Total Area                                        25 non-null     int64
 23    Urban Road density                              24 non-null     float64
 24    Rural Road density                              24 non-null     float64
 25  Entire State Road length per 1000 sq km           25 non-null     int64
 26  Urban Road lngth per 1000 sq km                   25 non-null     float64
 27  Rural Road lngth per 1000 sq km                   25 non-null     float64
 28  Road Density                                      25 non-null     float64
 29  Road Density per 1000 Sq. Km - National Highways  25 non-null     float64
 30  Road Density per 1000 Sq. Km - State Highways     25 non-null     float64
 31  Road Density per 1000 Sq. Km - District Roads     25 non-null     int64
 32  Road Density per 1000 Sq. Km - Rural Roads        25 non-null     float64
 33  Road Density per 1000 Sq. Km - Urban roads        25 non-null     float64
 34  Road Density per 1000 Sq. Km - Project Roads      25 non-null     float64
 35  Area                                              25 non-null     int64
 36  Rural Area (2011 census)                          24 non-null     float64
 37  Urban Area (2011 census)                          24 non-null     float64
 38  Rural Pop (2011 census)                           25 non-null     int64
 39  Urban Pop (2011 census)                           25 non-null     int64
 40  Total  Population                                 25 non-null     int64
dtypes: float64(13), int64(27), object(1)
memory usage: 8.2+ KB

In [108]:
Sol.drop(Sol.columns[[2,3,5,6,7,8,9,10,11,12,14]],axis=1,inplace=True)

In [109]:
Sol.info()
Sol.drop(Sol.columns[[4,5,6,7,8,9]],axis=1,inplace= True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 24
Data columns (total 30 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   STATE                                             25 non-null     object
 1   Overall tele-Density                              16 non-null     float64
 2   Cases_Property_Stolen                             25 non-null     int64
 3   TOTAL_SERVICE                                     25 non-null     int64
 4   National Highways                                 25 non-null     int64
 5   State Highways                                    25 non-null     int64
 6   District Roads                                    25 non-null     int64
 7   Rural Roads                                       25 non-null     int64
 8   Urban roads                                       25 non-null     int64
 9   Project Roads                                     25 non-null     int64
 10  Total road Length                                 25 non-null     int64
 11  Total Area                                        25 non-null     int64
 12    Urban Road density                              24 non-null     float64
 13    Rural Road density                              24 non-null     float64
 14  Entire State Road length per 1000 sq km           25 non-null     int64
 15  Urban Road lngth per 1000 sq km                   25 non-null     float64
 16  Rural Road lngth per 1000 sq km                   25 non-null     float64
 17  Road Density                                      25 non-null     float64
 18  Road Density per 1000 Sq. Km - National Highways  25 non-null     float64
 19  Road Density per 1000 Sq. Km - State Highways     25 non-null     float64
 20  Road Density per 1000 Sq. Km - District Roads     25 non-null     int64
 21  Road Density per 1000 Sq. Km - Rural Roads        25 non-null     float64
 22  Road Density per 1000 Sq. Km - Urban roads        25 non-null     float64
 23  Road Density per 1000 Sq. Km - Project Roads      25 non-null     float64
 24  Area                                              25 non-null     int64
 25  Rural Area (2011 census)                          24 non-null     float64
 26  Urban Area (2011 census)                          24 non-null     float64
 27  Rural Pop (2011 census)                           25 non-null     int64
 28  Urban Pop (2011 census)                           25 non-null     int64
 29  Total  Population                                 25 non-null     int64
dtypes: float64(13), int64(16), object(1)
memory usage: 6.1+ KB

In [110]:
Sol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 24
Data columns (total 24 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   STATE                                             25 non-null     object
 1   Overall tele-Density                              16 non-null     float64
 2   Cases_Property_Stolen                             25 non-null     int64
 3   TOTAL_SERVICE                                     25 non-null     int64
 4   Total road Length                                 25 non-null     int64
 5   Total Area                                        25 non-null     int64
 6     Urban Road density                              24 non-null     float64
 7     Rural Road density                              24 non-null     float64
 8   Entire State Road length per 1000 sq km           25 non-null     int64
 9   Urban Road lngth per 1000 sq km                   25 non-null     float64
 10  Rural Road lngth per 1000 sq km                   25 non-null     float64
 11  Road Density                                      25 non-null     float64
 12  Road Density per 1000 Sq. Km - National Highways  25 non-null     float64
 13  Road Density per 1000 Sq. Km - State Highways     25 non-null     float64
 14  Road Density per 1000 Sq. Km - District Roads     25 non-null     int64
 15  Road Density per 1000 Sq. Km - Rural Roads        25 non-null     float64
 16  Road Density per 1000 Sq. Km - Urban roads        25 non-null     float64
 17  Road Density per 1000 Sq. Km - Project Roads      25 non-null     float64
 18  Area                                              25 non-null     int64
 19  Rural Area (2011 census)                          24 non-null     float64
 20  Urban Area (2011 census)                          24 non-null     float64
 21  Rural Pop (2011 census)                           25 non-null     int64
 22  Urban Pop (2011 census)                           25 non-null     int64
 23  Total  Population                                 25 non-null     int64
dtypes: float64(13), int64(10), object(1)
memory usage: 4.9+ KB

In [111]:
Sol.drop(Sol.columns[[6,7,8,9,10,12,13,14,15,16,17,19]],axis=1,inplace=True)

In [112]:
Sol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STATE                     25 non-null     object
 1   Overall tele-Density      16 non-null     float64
 2   Cases_Property_Stolen     25 non-null     int64
 3   TOTAL_SERVICE             25 non-null     int64
 4   Total road Length         25 non-null     int64
 5   Total Area                25 non-null     int64
 6   Road Density              25 non-null     float64
 7   Area                      25 non-null     int64
 8   Urban Area (2011 census)  24 non-null     float64
 9   Rural Pop (2011 census)   25 non-null     int64
 10  Urban Pop (2011 census)   25 non-null     int64
 11  Total  Population         25 non-null     int64
dtypes: float64(3), int64(8), object(1)
memory usage: 2.5+ KB

In [113]:
Sol.drop(Sol.columns[[8,9,10]],axis=1,inplace=True)

In [114]:
Sol['Cases Density']=Sol['Cases_Property_Stolen']/Sol['Total  Population']

In [115]:
Sol.drop('Area',axis=1,inplace=True)

In [116]:
Sol

,STATE,Overall tele-Density,Cases_Property_Stolen,TOTAL_SERVICE,Total road Length,Total Area,Road Density,Total Population,Cases Density
0,BIHAR,18.230000,411840,175666,298205,94163,3166.91,104099452,0.003956
1,MADHYA PRADESH,22.600000,733524,206482,365045,308252,1184.24,72626809,0.010100
2,UTTAR PRADESH,22.706667,559970,345776,442907,240928,1838.34,199812341,0.002802
3,ASSAM,23.040000,245560,44178,399122,78438,5088.38,31205576,0.007869
4,ODISHA,25.076667,224280,93726,305631,155707,1962.86,41974218,0.005343
5,RAJASTHAN,26.510000,469468,343791,313469,342239,915.94,68548437,0.006849
6,WEST BENGAL,27.513300,372226,122370,283865,88752,3198.40,91276115,0.004078
7,HARYANA,30.200000,303336,158698,50292,44212,1137.53,25351462,0.011965
8,ANDHRA PRADESH,31.180000,642822,123750,316906,275045,1152.20,84580777,0.007600
9,GUJARAT,31.546667,534060,301094,249373,196244,1270.73,60439692,0.008836
10,KARNATAKA,33.710000,494968,264758,358300,191791,1868.18,61095297,0.008102
11,MAHARASHTRA,34.250000,1376814,1008823,636887,307713,2069.74,112374333,0.012252
12,TAMIL NADU,34.336667,431864,452640,271137,130060,2084.71,72147030,0.005986
13,PUNJAB,39.143333,151182,149522,147862,50362,2935.98,27743338,0.005449
14,KERALA,41.146667,221652,105782,259932,38852,6690.30,33406061,0.006635
15,HIMACHAL PRADESH,44.470000,34000,22829,73230,55673,1315.37,6864602,0.004953
16,CHHATTISGARH,NaN,199712,63176,105074,135192,777.22,25545198,0.007818
17,ARUNACHAL PRADESH,NaN,16632,1293,55262,83743,659.90,1383727,0.012020
18,JHARKHAND,NaN,176868,78824,81245,79716,1019.18,32988134,0.005362
19,MEGHALAYA,NaN,16724,1429,40258,22429,1794.91,2966889,0.005637
20,MIZORAM,NaN,26892,2113,16250,21081,770.82,1097206,0.024510
21,NAGALAND,NaN,10814,1843,37871,16579,2284.29,1978502,0.005466
22,SIKKIM,NaN,3314,1175,12182,7096,1716.72,610577,0.005428
23,TRIPURA,NaN,14480,3808,45120,10486,4302.87,3673917,0.003941
24,UTTARAKHAND,NaN,41530,42087,68727,53483,1285.03,10086292,0.004117

In [117]:
Sol['MSME Density']=Sol['TOTAL_SERVICE']/Sol['Total  Population']

In [118]:
Sol

,STATE,Overall tele-Density,Cases_Property_Stolen,TOTAL_SERVICE,Total road Length,Total Area,Road Density,Total Population,Cases Density,MSME Density
0,BIHAR,18.230000,411840,175666,298205,94163,3166.91,104099452,0.003956,0.001687
1,MADHYA PRADESH,22.600000,733524,206482,365045,308252,1184.24,72626809,0.010100,0.002843
2,UTTAR PRADESH,22.706667,559970,345776,442907,240928,1838.34,199812341,0.002802,0.001731
3,ASSAM,23.040000,245560,44178,399122,78438,5088.38,31205576,0.007869,0.001416
4,ODISHA,25.076667,224280,93726,305631,155707,1962.86,41974218,0.005343,0.002233
5,RAJASTHAN,26.510000,469468,343791,313469,342239,915.94,68548437,0.006849,0.005015
6,WEST BENGAL,27.513300,372226,122370,283865,88752,3198.40,91276115,0.004078,0.001341
7,HARYANA,30.200000,303336,158698,50292,44212,1137.53,25351462,0.011965,0.006260
8,ANDHRA PRADESH,31.180000,642822,123750,316906,275045,1152.20,84580777,0.007600,0.001463
9,GUJARAT,31.546667,534060,301094,249373,196244,1270.73,60439692,0.008836,0.004982
10,KARNATAKA,33.710000,494968,264758,358300,191791,1868.18,61095297,0.008102,0.004334
11,MAHARASHTRA,34.250000,1376814,1008823,636887,307713,2069.74,112374333,0.012252,0.008977
12,TAMIL NADU,34.336667,431864,452640,271137,130060,2084.71,72147030,0.005986,0.006274
13,PUNJAB,39.143333,151182,149522,147862,50362,2935.98,27743338,0.005449,0.005389
14,KERALA,41.146667,221652,105782,259932,38852,6690.30,33406061,0.006635,0.003167
15,HIMACHAL PRADESH,44.470000,34000,22829,73230,55673,1315.37,6864602,0.004953,0.003326
16,CHHATTISGARH,NaN,199712,63176,105074,135192,777.22,25545198,0.007818,0.002473
17,ARUNACHAL PRADESH,NaN,16632,1293,55262,83743,659.90,1383727,0.012020,0.000934
18,JHARKHAND,NaN,176868,78824,81245,79716,1019.18,32988134,0.005362,0.002389
19,MEGHALAYA,NaN,16724,1429,40258,22429,1794.91,2966889,0.005637,0.000482
20,MIZORAM,NaN,26892,2113,16250,21081,770.82,1097206,0.024510,0.001926
21,NAGALAND,NaN,10814,1843,37871,16579,2284.29,1978502,0.005466,0.000932
22,SIKKIM,NaN,3314,1175,12182,7096,1716.72,610577,0.005428,0.001924
23,TRIPURA,NaN,14480,3808,45120,10486,4302.87,3673917,0.003941,0.001036
24,UTTARAKHAND,NaN,41530,42087,68727,53483,1285.03,10086292,0.004117,0.004173

So now we have density of all 4 factors 1:Overall -tele density , 2:Road Density,3: Cases Density, 4: MSME Service Density

In [119]:
Sol["Total Factor"]=Sol['Cases Density']+Sol['MSME Density']+Sol['Overall tele-Density']+Sol['Road Density ']

In [122]:
Sol.sort_values(by='Total Factor',ascending=False).head(5)

,STATE,Overall tele-Density,Cases_Property_Stolen,TOTAL_SERVICE,Total road Length,Total Area,Road Density,Total Population,Cases Density,MSME Density,Total Factor
14,KERALA,41.146667,221652,105782,259932,38852,6690.30,33406061,0.006635,0.003167,6731.456468
3,ASSAM,23.040000,245560,44178,399122,78438,5088.38,31205576,0.007869,0.001416,5111.429285
6,WEST BENGAL,27.513300,372226,122370,283865,88752,3198.40,91276115,0.004078,0.001341,3225.918719
0,BIHAR,18.230000,411840,175666,298205,94163,3166.91,104099452,0.003956,0.001687,3185.145644
13,PUNJAB,39.143333,151182,149522,147862,50362,2935.98,27743338,0.005449,0.005389,2975.134172

So our 5 states are :

In [123]:
Sol.sort_values(by='Total Factor',ascending=False).head(5)['STATE']

14         KERALA
3           ASSAM
6     WEST BENGAL
0           BIHAR
13         PUNJAB
Name: STATE, dtype: object